<div class="text-center mb-3">
    <h1 class="display-4">Juan Camilo Torres Beltrán</h1>
    <h2>Desarollador Full Stack (Probando despliegue)</h2>
    <img id="profile-image"
         class="img-thumbnail img-fluid my-3 mx-0 rounded-circle"
         src="~/images/profile_image.jpeg" alt="Foto Juan Camilo" />

</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h3 class="mb-5">Bienvenido a mi portafolio</h3>
        <p class="text-break">
            Soy Desarrollador Full Stack con más de 2 años de experiencia profesional, especializado en el desarrollo backend con Java con Spring Boot, C# con ASP .NET, y en el frontend con Angular, React, HTML, CSS y TypeScript.
            Actualmente formo parte del equipo de Externalia Solutions, una empresa de soluciones tecnológicas con sede en Madrid, España. Soy tecnólogo en desarrollo de software y egresado como ingeniero de software.
            Mi experiencia incluye el diseño y desarrollo de microservicios escalables, aplicando arquitectura hexagonal, principios SOLID y programación orientada a objetos, así como la creación de interfaces web dinámicas y optimizadas, priorizando buenas prácticas de seguridad y rendimiento.
            <br /><br />
            Me destaco por ser una persona responsable, comprometida y con una sólida ética laboral. Disfruto del trabajo en equipo y la colaboración para alcanzar soluciones efectivas.
            Mi pasión por el desarrollo me impulsa a mantenerme en constante aprendizaje, buscando siempre entregar productos de calidad con valor agregado.
        </p>
    </div>
</div>