@{
    ViewData["Title"] = "Gracias";
}

<div class="container">
    <div class="m-4 text-center">
        <h2>¡Gracias por ponerte en contacto conmigo!</h2>
        <p>En breve le estare dando respuesta a tu solicitud. ¡Muchas gracias!</p>
        <a asp-controller="Home" asp-action="Index">Regresar a inicio</a>
    </div>
</div>